<h1>Custom Drink Order</h1>
<div class="wrapper">
      <h2>Milk</h2>
    <div class="custom-card">
      <img class="Milk" src="/public/images/milkbox.png" alt="Milk box"></img>
      <form action="#">
        <div class="checkboxes">
          <!-- Checkboxes here -->
          <label><input type="checkbox" name="option1" value="Option 1"> Whole Milk</label><br>
          <label><input type="checkbox" name="option2" value="Option 2"> Oat Milk</label><br>
          <label><input type="checkbox" name="option3" value="Option 3"> Almond Milk</label><br>
          <label><input type="checkbox" name="option3" value="Option 3"> Half and Half</label><br>
  
          <button id="submitBtn" type="submit">Submit</button>
        </div>
      </form>
    </div>
<script src='/js/customDrink.js'></script> 