<h1>Custom Drink Order</h1>
<div class="wrapper question1">
    <h2>Type of coffee</h2>
    <div class="custom-card">
      <img class="Coffee" src="" alt="coffee"></img>
      <form action="#">
        <div class="checkboxes">
          <!-- Checkboxes here -->
          <label><input type="checkbox" name="option1" value="Option 1">Espresso</label><br>
          <label><input type="checkbox" name="option2" value="Option 2">Double Shot Espresso</label><br>
          <label><input type="checkbox" name="option3" value="Option 3">Drip</label><br>
          <label><input type="checkbox" name="option4" value="Option 4">Americano</label><br>
          <label><input type="checkbox" name="option5" value="Option 5">Decaf</label><br>
  
          <button class="nxt-btn" data-next=".step2">Next</button>
        </div>
      </form>
    </div>
</div>
<div class="wrapper question2" style="display:none">
    <h2>Milk</h2>
    <div class="custom-card">
      <img class="Milk" src="/public/images/milkbox.png" alt="Milk box"></img>
      <form action="#">
        <div class="checkboxes">
          <!-- Checkboxes here -->
          <label><input type="checkbox" name="option1" value="Option 1"> Whole Milk</label><br>
          <label><input type="checkbox" name="option2" value="Option 2"> Oat Milk</label><br>
          <label><input type="checkbox" name="option3" value="Option 3"> Almond Milk</label><br>
          <label><input type="checkbox" name="option4" value="Option 4"> Half and Half</label><br>
  
          <button class="nxt-btn" data-next=".step3">Next</button>
        </div>
      </form>
    </div>
</div>
<div class="wrapper question3" style="display:none">
    <h2>Drink Type</h2>
    <div class="custom-card">
      <img class="Type" src="" alt="Image of a latte"></img>
      <form action="#">
        <div class="checkboxes">
          <!-- Checkboxes here -->
          <label><input type="checkbox" name="option1" value="Option 1">Latte</label><br>
          <label><input type="checkbox" name="option2" value="Option 2">Cappucino</label><br>
          <label><input type="checkbox" name="option3" value="Option 3">Hot</label><br>
          <label><input type="checkbox" name="option4" value="Option 4">Iced</label><br>
  
          <button class="nxt-btn" data-next=".step4">Next</button>
        </div>
      </form>
    </div>
</div>
<div class="wrapper question4" style="display:none">
    <h2>Flavors</h2>
    <div class="custom-card">
      <img class="Flavors" src="" alt="Flavor pumps"></img>
      <form action="#">
        <div class="checkboxes">
          <!-- Checkboxes here -->
          <label><input type="checkbox" name="option1" value="Option 1">Vanilla</label><br>
          <label><input type="checkbox" name="option2" value="Option 2">Salted Caramel</label><br>
          <label><input type="checkbox" name="option3" value="Option 3">Lavender</label><br>
          <label><input type="checkbox" name="option4" value="Option 4">None</label><br>
  
          <button class="submit-btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
</div>
<script src='/js/customDrink.js'></script> 