<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
 

  <div class="col-md-6 blogpost-list">
    <h3>Favorite Drinks:</h3>

    {{#each drinks as |drink|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{drink.name}}</h4>
        <ul>
        {{#each drink.ingredients as |ingredient|}}
          <li>{{ingredient}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="./js/customDrink.js"></script>
