<link rel="stylesheet"  href="/css/favorite.css">

<div class="row mt-4" id="container">
  <div class="col-md-6 blogpost-list">
    <h1>Favorite Drinks</h1>

    {{#each drinks as |drink|}}
    <div class="row mb-2" id="drink-block">
      <div class="col-md-8" id="custom-card">
        <h4>{{drink.name}}</h4>
        <p>Ingredients:</p>
        <ul>
        {{#each drink.ingredients as |ingredient|}}
          <li>{{ingredient}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="./js/customDrink.js"></script>
