<link rel="stylesheet"  href="/css/favorite.css">
 <header>
    <nav>
      {{!-- <header><h1>Moon Dollars</h1></header> --}}
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href="/customDrink">Custom Drink</a></li>
        {{!-- <li><button class='btn btn-logout'id='logoutbtn'>Log Out</button></li> --}}
        <li><a href='/favoriteDrink'>Favorite Drinks</a></li>
        <li><a id="logoutbtn">Log Out</a></li>
         </ul>
    </nav>
  </header>
<div class="row mt-4" id="container">
  <div class="col-md-6 blogpost-list">
    <h1>Favorite Drinks</h1>

    {{#each drinks as |drink|}}
    <div class="row mb-2" id="drink-block">
      <div class="col-md-8" id="custom-card">
        <h4>{{drink.name}}</h4>
        <p>Ingredients:</p>
        <ul>
        {{#each drink.ingredients as |ingredient|}}
          <li>{{ingredient}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="./js/customDrink.js"></script>
