<h1>Moon Dollars</h1>
{{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p>
{{/if}}
<p>Start putting together your favorite coffee drink recipe!</p>
<p>Get inspired by our drink recommendations or get creative by making your own.</p>
{{#unless isLoggedIn}}
  <br />
  <a class='btn' href='/signup'>Sign Up</a>
{{/unless}}