<head>
    <link rel="stylesheet"  href="/css/login.css">
    <link rel="stylesheet"  href="/css/style.css">
</head>
<section class="login">
    <div class="container">
      <h3 class="title">Log In</h3>
      
      
      <p class="separator"><span>&nbsp;</span>&#9749;<span>&nbsp;</span></p>
      
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="Username">          
        </div>
        
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Password">          
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Password">          
        </div>
        
        <button type="submit">Log In</button>
      </form>
      
      <p class="additional-act">Need an account? <span>Sign Up</span></p>
      
      
    </div>
  </section>
<script src='/js/login.js'></script>