@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab:wght@900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.message {
  position: relative;
  max-width: 420px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

p {
  position: relative;
  padding: 1em 0;
  letter-spacing: 1px;
}
p:before, p:after {
  mix-blend-mode: difference;
  content: "";
  position: absolute;
  left: 12.5%;
  width: 75%;
  height: 1px;
  background:#f1b83d;
}
p:before {
  top: 0;
}
p:after {
  bottom: 0;
}

h2 {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.125;
  text-transform: uppercase;
  text-align: center;
}