* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ddd;
    font-family: "Montserrat", sans-serif;
}

:root {
    min-height: 100vh;
    width: 100%;
    background: url("/images/kisspng-coffee-bean-cafe-small-crisp-coffee-beans-5a93a3aeaf2742.8142691015196251347174.png"), #023262;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button {
  display: inline-block;
  width: 100%;
  height: 3.23rem;
  border: none;
  outline: none;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.15);
}

form {
    width: 100%;
  }
  form .form-group {
    margin-bottom: 1.5rem;
  }
  form .form-group label {
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    color: dark-blue;
  }
  form .form-group input {
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    padding: 0 1.5rem;
  }
  
  button[type=submit] {
    background: #f1b83d;
    color: #023262;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 1rem 0;
    transition: all 0.3s linear;
  }
  button[type=submit]:hover {
    background: #ffc800;
    opacity: 0.8;
  }

.wrapper {
    border: 8px solid #796153;
    border-radius: 10%;
    width: 40%;
    margin: 0 auto;
    background-color: #efd2cb;
}

.custom-card {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.wrapper h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 4px solid #796153;
    padding: 10px;
}

label {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;   /* set label as an inline element */
    text-align: left;       /* align text to the right */
    width: 200px;            /* add some width for spacing */
  }
  
  input[type="checkbox"] {
    display: inline-block;   /* set checkbox as an inline element */
    vertical-align: middle;  /* align checkbox with the middle of label */
  }
  

